# User specific
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.DS_Store
*.mdb
*.bak

bin/
obj/
Dotfuscated/
packages/repositories.config
packages/**/*.xml
TestResult*.xml
Built/
AppPackages/
BundleArtifacts/
.vscode/
.vs/
.droidres/

**/project.lock.json
Resource.designer.cs

StyleCop.Cache
Settings.StyleCop
Thumbs.db
UpgradeLog.htm

.gitignore~
..gitignore.un~
/packages/PropertyChanged.Fody.1.52.0
